{% extends 'main/layout.html' %}

{% block title %} Про нас {% endblock %}

{% block content %}
<div class="features">
    <h1>About Us</h1>
    <p>Are you wondering what to do on weekends? At our Zoo, no two days are ever the same. You can visit us all year round and have great and memorable experiences close to the animals. Our zoo offers a wide range of activities that can be enjoyed by both children and the young at heart. The zoo's central location makes it easy to swing by if you're in Aalborg - and the visit can easily be combined with other activities.</p>
    
    <button class="btn btn-warning">Return to the Home Page</button>
</div>
{% endblock %}


